{% extends "header.html" %}
{% block title %} INICIO {% endblock %}
{% block content %} 
<style>
    h1 {
        color: #C69749;
    }
    .lead{
        color: #008170;
    }
    .btn :hover{
        color: #C69749;
        transition: 0.3s;
    }

    
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Bienvenido a la Agenda Virtual</h1>
            <p class="lead">Organiza tu vida de manera eficiente.</p>
         
            <a href="{% url 'lista' %}" class="btn btn-light btn-lg">COMENZAR</a>
        </div>
    </div>
</div>
{% endblock %}